/*Narrow the login form, size according to display size (bigger on mobile)*/
#loginPage .readOnlyContent,
#loginPage form {
  max-width: 22em;
}

/*Hide "please login" text, margin is to prevent login form moving too far up*/
#loginPage h1 {
  display: none
}
#loginPage .padded-left.padded-right.padded-bottom-page {
  margin-top: 8em

  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.35); /* <-- 关键在这里！半透明的黑色背景 */
  width: 24em; /* 给登录框一个固定的宽度 */
  border-radius: var(--rounding); /* 加上圆角，和主题保持一致 */
}

/*Hide "manual" and "forgot" buttons}*/
#loginPage .raised.cancel.block.btnForgotPassword.emby-button {
  display: none
}
